body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background: url("../images/pexels-scottwebb-136404.jpg") no-repeat;
    background-color: #000;
    color: #fff;
    background-size: cover;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    padding: 4px 30px;
    /* background: #fff; */
    justify-content: space-between;
    align-items: center;
}

.left{
    display: inline-block;
}

.left img{
    width: 150px;
}

.middle ul{
    display: inline-block;
}

.middle ul li{
    display: inline-block;
}

.middle ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.middle ul li a:hover, .middle ul li a.active{
    text-decoration: underline;
    color: chartreuse;
}

.right{
    display: inline-block;
}

.right button{
    padding: 10px 15px;
    margin: 10px;
    border-radius: 40px;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
}

.right button:hover{
    background-color: chartreuse;
    color: #000;
    transition: 0.3s ease-in-out;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    background-color: #00000059;
    backdrop-filter: blur(5px);
    max-width: 700px;
    width: 30%;
    padding: 19px;
    border-radius: 10px;
    
}

fieldset{
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    align-items: center;
    text-align: center;
}

legend{
    color: chartreuse;
    font-size: 20px;
    font-weight: 700;
}

.form-group{
   display: flex;
   width: 100%;
   padding: 8px 0px;
}
.form-group input, .form-group select{
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    color: #fff;
    background-color: #000;
    outline: none;
}

.form-group input:focus{
    border-color: chartreuse;
    outline: none;
}

.btn{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
}

